<h1>Yay! The <%= @test_passage.test.title %> Test was completed!</h1>

<b>Your score:</b>
<% if @test_passage.done? %>
  <h2 class="done"><%= @test_passage.total_result %>%</h2><br>
  <h2>Congratulations! You passed the test!</h2>
<%= else %>
  <h2 class="failed"><%= @test_passage.total_result %>%</h2><br>
  <h2>Unfortunately, you failed the test, there is too low result :-(</h2>
<% end %>

<%= link_to 'To the all tests list', tests_path %>
