<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<b><%= t('.score') %></b>
<% if @test_passage.done? %>
  <h2 class="done"><%= @test_passage.total_result %></h2><br>
  <h2><%= t('.done') %></h2>
<%= else %>
  <h2 class="failed"><%= @test_passage.total_result %></h2><br>
  <h2><%= t('.fail') %></h2>
<% end %>

<%= link_to t('helpers.links.tests_list'), tests_path %>
