<footer>
  <p><%= t('.intro') %></p><br>
  <%= github_url('drevina', 'TestGuru') %><br>
  <%= t('.author') %><br>
  <%= t('.courses') %><a target="_blank" href="https://thinknetica.com/">Thinknetica</a><br>
  <p><%= current_year %></p>
</footer>
