<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions:</strong>
  <%= link_to 'New question', new_test_question_path(@test) %>

  <ol>
  <% render partial: 'questions/question', collection: @test.questions %>
  </ol>
</p>

<%= link_to 'Edit test', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %>
