<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.questions') %></strong>
  <%= link_to t('helpers.links.create_question'), new_test_question_path(@test) %>

  <ol>
  <% render partial: 'questions/question', collection: @test.questions %>
  </ol>
</p>

<%= link_to t('helpers.links.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('helpers.links.back'), admin_tests_path %>
