<h1><%= t('tests.index.header') %></h1>

<table class="table table-bordered border-primary">
  <tr>
    <th scope="col"><%= t('.title') %></th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col"><%= t('.actions') %></th>
  </tr>

  <% render @tests %>
</table>
